# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Rust / Tauri
src-tauri/target
src-tauri/gen
